{% extends 'layout.html' %}
{% block title %} Tasks {% endblock %}

{% block body %}
    {% if all_tasks %}
<br><h3 class="text-center">Current Tasks: {{all_tasks|length}}</h3><br>
<table class="table table-hover table-bordered table-striped">
    <thead class="text-center table-primary">
      <tr>
       <th scope="col">Title</th>
       <th scope="col">Description</th>
       <th scope="col">Category</th>
       <th scope="col">Progress</th>
       <th scope="col">Priority</th>
       <th scope="col">Deadline</th>
       <th scope="col"><a href="{{ url_for('task_actions.task_create') }}" type="button" class="btn btn-success">Add Task</a></th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
      <tr class="text-center align-middle">
       <td><a href="{{url_for('task_actions.task', id=task.id) }}">{{task.title}}</a></td>
       <td>{{task.description|safe}}</td>
       <td>{{task.category.name}}</td>
       <td>{{task.progress.name }}</td>
       <td>{{task.priority.name }}</td>
       <td>{{task.deadline}}</td>
       </tr>
    </tbody>
    {% endfor%}
 </table>
    {% else %}
    <br><br><h3 class="text-center">No Tasks Created yet</h3>
    {% endif %}
{% endblock %}