{% extends "layout.html" %}
{% block title %} Register {% endblock %}

{% block name %}

{% endblock %}

{% block body %}

{% from "_render_field.html" import render_field %}

  <div class="col-5 mx-auto">

    <br><br><center><div class="card w-50">

      <div class="card-header bg-dark">
        <h5 class="text-center" style="color:white">Reset password</h5>
      </div>

      <div class="card-body bg-success">
        <form method="post">
          {{ form.csrf_token }}
          {{ render_field(form.old_password, class="form-control") }}
          {{ render_field(form.new_password, class="form-control") }}
          {{ render_field(form.confirm_password, class="form-control") }}
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>

    </div>
  </center>
  </div>

{% endblock %}