{% extends 'layout.html' %}
{% block title %} Account {% endblock %}

{% block body %}
<div class="row d-flex justify-content-center bg-light">

    <div class="col-md-5">

        <div class="card p-3 py-4 bg-success">

            <div class="text-center">
                <img src="{{ image_file }}" width="200" class="rounded-circle">
            </div>

            <div class="text-center mt-3">
                <h1 class="mt-2 mb-0">{{ current_user.username }} </h1>

                <h4><span>{{ current_user.email }}</span></h4>
                    <div class="px-4 mt-1">
                        <p style="font-size: 25px">About me:<p style="margin-top: -15px; font-size: 20px">{{ current_user.about_me }}</p></p>
                    </div>

                {% from "_render_field.html" import render_field %}
                <div class="col-6 mx-auto">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">

                            {{ form.csrf_token }}
                            {{ render_field(form.picture, class="form-control") }}
                            {{ render_field(form.username, class="form-control") }}
                            {{ render_field(form.email, class="form-control") }}
                            {{ render_field(form.about_me, class="form-control") }}
                            <div>
                                <p style="font-size: 20px">Last seen: {{ current_user.last_seen }}</p>
                            </div>
                            {{ form.submit(class="btn btn-primary") }}

                        </form>

                        <div class="buttons">
                            <a href="{{ url_for('account.reset_password') }}" class="btn btn-primary px-4">Reset password</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}